/**
 * Created by mikhailsapozhnikov on 12/16/20.
 */

.slds-modal__footer {
    position: fixed;
    margin-left: -16px;
    width: 100%;
}
.slds-button_neutral {
    margin-right: 8px;
}

lightning-card {
    border: 1px solid #dddbda;
    border-radius: 5px;
    display: block;
}

.slds-button__icon_left,
.slds-button__icon--left {
    margin-right: 0;
}