<!--
 - Created by mikhailsapozhnikov on 12/16/20.
 -->

<template>
    <header class="slds-modal__header">
        <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Update Company Information</h2>
    </header>
    <div id="modal-content-id-1">
        <lightning-card title="Account information" icon-name="standard:account" style="margin: 12px 0;">
            <lightning-record-edit-form
                    object-api-name="Account"
                    record-id={accId}
                    density="compact"
                    onsuccess={handleSuccess}
                    onerror={handleError}
            >
                <lightning-input-field field-name='Name'></lightning-input-field>
                <lightning-input-field field-name="BillingStreet"></lightning-input-field>
                <lightning-input-field field-name="BillingPostalCode"></lightning-input-field>
                <lightning-input-field field-name="BillingState"></lightning-input-field>
                <lightning-input-field field-name="BillingCountry"></lightning-input-field>
            </lightning-record-edit-form>
        </lightning-card>

        <lightning-card  style="margin-bottom: 12px;">
            <div slot="title">
                <lightning-icon icon-name="standard:account" size="small" class="slds-m-right_small"></lightning-icon>
                Contacts
            </div>
            <lightning-button
                    slot="actions"
                    label="Add contact"
                    onclick={addContact}
            ></lightning-button>
            <div if:true={contactsLength}>
                <lightning-datatable
                        key-field="Id"
                        data={contacts}
                        columns={columns}
                        draft-values={draftValues}
                        onrowaction={handleRowAction}
                        onsave={handleSave}
                        hide-checkbox-column
                        show-row-number-column="false"
                        suppress-bottom-bar
                        enable-infinite-loading
                ></lightning-datatable>
            </div>
        </lightning-card>
    </div>

    <footer class="slds-modal__footer">
        <lightning-button
                label="Cancel"
                variant="neutral"
                style="margin-right: 8px;"
                onclick={cancel}
        ></lightning-button>
        <lightning-button
                label="Save"
                variant="brand"
                onclick={save}
        ></lightning-button>
    </footer>
</template>