<apex:page id="AccountWithContacts" standardController="Account" extensions="AccountWithContactsController"
           lightningStyleSheets="true">
    <apex:form id="generalForm" >
        <apex:pageBlock title="Account">
            <apex:pageBlockSection columns="1">
                <apex:inputField value="{! Account.Name }" required="true"/>
                <apex:inputField value="{! Account.BillingStreet }"/>
                <apex:inputField value="{! Account.BillingPostalCode }"/>
                <apex:inputField value="{! Account.BillingState }"/>
                <apex:inputField value="{! Account.BillingCountry }"/>
            </apex:pageBlockSection>
        </apex:pageBlock>
        <apex:pageMessages />
        <apex:pageBlock title="Related Contacts" id="contTable">
            <apex:pageBlockTable rendered="{!relatedContacts.size > 0}" value="{!relatedContacts}" var="contact" >
                <apex:variable value="{!0}" var="index"/>
                <apex:column headerValue="First Name">
                    <apex:inputField required="true" id="first_name_label" label="First Name" value="{!contact.FirstName}" />
                </apex:column>
                <apex:column headerValue="Last Name">
                    <apex:inputField required="true" id="last_name_label" label="Last Name" value="{!contact.LastName}"/>
                </apex:column>
                <apex:column headerValue="Action" >
                    <a href="javascript:remove('{!index}');">Delete</a>
                    <apex:variable var="index" value="{!index+1}"/>
                </apex:column>
            </apex:pageBlockTable>
            <apex:actionFunction name="remove" action="{!removeRow}" reRender="contTable" immediate="true">
                <apex:param value="" name="index" assignTo="{!index}"/>
            </apex:actionFunction>

            <apex:pageBlockButtons location="bottom">
                <apex:commandButton action="{! addRow }" value="Add Row" reRender="contTable" immediate="true" style="margin-right: 8px; margin-left: 0px"/>
                <apex:commandButton action="{! save }" value="Submit" reRender="generalForm" style="margin-right: 8px; margin-left: 0px "/>
                <apex:commandButton action="{! goToAcc }"  value="Go to Account" immediate="true" disabled="{!If(Account.Id != null,false, true)}"/>
            </apex:pageBlockButtons>
        </apex:pageBlock>
    </apex:form>
</apex:page>